/events/*
!/events/.htaccess
/General Setting/
/data/guests.json
/inv/
/uploads/galley/
/uploads/gallery/

api/config.php
/mini apps/Wheel of Fortune/*.json
/mini apps/Wheel of Fortune/WF Event/*.json
/mini apps/Wheel of Fortune/WF Event/*.csv
/mini apps/Wheel of Fortune/WF Event/*.xls
/mini apps/Wheel of Fortune/WF Event/*.xlsx
/mini apps/Wheel of Fortune/*.log
/mini apps/Wheel of Fortune/*.tmp
/mini apps/**/*.json
/bots/telegram bot/bot.json
/bots/telegram bot/state.json
/bots/telegram bot/*.log
