/events/*
!/events/.htaccess
/General Setting/
/data/guests.json
/inv/
/uploads/galley/
/uploads/gallery/

api/config.php
/mini apps/Wheel of Fortune/*.json
/mini apps/Wheel of Fortune/WF Event/*.json
/mini apps/Wheel of Fortune/WF Event/*.csv
/mini apps/Wheel of Fortune/WF Event/*.xls
/mini apps/Wheel of Fortune/WF Event/*.xlsx
/mini apps/Wheel of Fortune/*.log
/mini apps/Wheel of Fortune/*.tmp
/mini apps/**/*.json
/bots/telegram bot/bot.json
/bots/telegram bot/state.json
/bots/telegram bot/*.log
/system/useractivitylogs/logs/*.log
/mini apps/Task Club/useractivitylogs/logs/*.log
/mini apps/Task Club/TC Event/TC Prize Awards Log.json
/mini apps/Task Club/TC Event/TC Prize Awards Log.json.bak
/mini apps/Task Club/TC Event/TC Prize Awards Log.json.bak.tmp
/mini apps/Task Club/TC Event/TC Prize Awards Log.json.lock
/mini apps/Task Club/TC Event/TC Prize Awards Log.json.rollback
/mini apps/Task Club/TC Event/TC Prize Awards Log.json.archive/
/mini apps/Task Club/TC Prizes.json.lock
/mini apps/Task Club/TC Prizes.json.bak
/mini apps/Task Club/TC Prizes.json.bak.tmp
/mini apps/Task Club/TC Prizes.json.rollback
/mini apps/Task Club/TC Prizes.json.corrupt-*
/mini apps/Task Club/TC Prizes.json.backup-unsynced
/mini apps/Task Club/TC Prize Levels.json.lock
/mini apps/Task Club/TC Prize Levels.json.bak
/mini apps/Task Club/TC Prize Levels.json.bak.tmp
/mini apps/Task Club/TC Prize Levels.json.rollback
/mini apps/Task Club/TC Prize Levels.json.corrupt-*
