/events/*
!/events/.htaccess
/General Setting/
/data/guests.json
/inv/
/uploads/galley/
/uploads/gallery/

api/config.php
/Wheel of Fortune/*.json
/mini apps/**/*.json
/bots/telegram bot/bot.json
/bots/telegram bot/*.log
