Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /campaigns/

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^([^/]+)/?$ index.php?campaign=$1 [L,QSA]
</IfModule>
